<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clyy.dao.AppInfoMapper">
    <select id="findAllAppInfo" resultType="appInfo">
        select * from app_info
    </select>
    <!--SELECT * FROM app_info,data_dictionary WHERE app_info.status=data_dictionary.id AND app_info.id=50-->
<!--    <resultMap id="AppInfo" type="appInfo">
        <id column="" property=""></id>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
    </resultMap>-->
</mapper>