<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clyy.dao.AppInfoMapper">
    <select id="findAllAppInfo" resultType="appInfo">
        select * from app_info
    </select>
    <!---->
    <select id="getAppInfoByPage" resultMap="AppInfo">
        SELECT
            app_info.id,
            app_info.softwareName,
            app_info.APKName,
            app_info.softwareSize,
            app_info.flatformId,
            app_info.categoryLevel1,
            app_info.categoryLevel2,
            app_info.categoryLevel3,
            app_info.status,
            app_info.downloads,
            app_version.versionNo,
            dd.valueName flatformName
	     FROM app_info ai, app_version av, data_dictionary dd
	     <trim prefix="where" prefixOverrides="and|or">
             ai.id=av.appId and ai.flatformId=dd.valueId and dd.typeCode='APP_FLATFORM'
             <if test="softwareName!=null and softwareName!=''">
                 and softwareName like concat('%',#{softwareName},'%')
             </if>
         </trim>
         GROUP BY app_info.id
         LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="getAppInfoCount" resultType="Integer">
        SELECT COUNT(1) FROM app_info
        <where>
            <if test="softwareName!=null and softwareName!=''">
                and softwareName like concat('%',#{softwareName},'%')
            </if>
        </where>
    </select>
    <!--SELECT * FROM app_info,data_dictionary WHERE app_info.status=data_dictionary.id AND app_info.id=50-->
        <resultMap id="AppInfo" type="appInfo">
            <id column="id" property="id"></id>
            <result column="softwareName" property="softwareName"></result>
            <result column="softwareSize" property="softwareSize"></result>
            <result column="flatformId" property="flatformId"></result>
            <result column="categoryLevel1" property="categoryLevel1"></result>
            <result column="categoryLevel2" property="categoryLevel2"></result>
            <result column="categoryLevel3" property="categoryLevel3"></result>
            <result column="status" property="status"></result>
            <result column="downloads" property="downloads"></result>
            <result column="versionNo" property="appVersion.versionNo"></result>
        </resultMap>
</mapper>