<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clyy.dao.AppVersionMapper">

    <select id="getAppVersionByAppId" parameterType="int" resultType="appVersion">
      SELECT av.* FROM app_version av,app_info ai WHERE av.id=ai.versionId AND ai.id=#{appId}
    </select>
    
    <select id="getVersionListById" parameterType="int" resultType="appVersion">
        SELECT ai.softwareName AS appName,dd.valueName AS publishStatusName,av.* FROM app_info ai, app_version av,data_dictionary dd
        WHERE
        ai.id = #{appId}
        AND av.appId=ai.id
        AND AV.publishStatus=dd.valueId
        AND dd.typeCode='PUBLISH_STATUS'
    </select>


</mapper>